<div class="profile">
  <a href="http://instagram.com/{{ username }}"><img src="{{ profile_picture }}" /></a>
  <h1>{{ full_name }}</h1>
  <h6>{{ bio }}</h6>
  <p><a href="{{ website }}">{{ website }}</a></p>
</div>
