<div class="profile">
  <a href="http://instagram.com/{{ username }}"><img src="{{ profile_picture }}" /></a>

  {% if full_name is defined %}
  <h1>{{ full_name }}</h1>
  {% endif %}

  {% if bio is defined %}
  <h6>{{ bio|nl2br }}</h6>
  {% endif %}

  {% if website is defined %}
  <p><a href="{{ website }}">{{ website }}</a></p>
  {% endif %}
</div>
